
body,
ul,
li,
h1,
h2,
h3,
p,
form {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
}

header {
  background-color: #eae5a6;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 24px;
  color: #333;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: all .5s ease;
}

nav ul li a:hover{
    background-color: #ebedef;

}

section {
  padding: 40px 20px;
}

section h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

section p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

section#banner {
  background-image: url(banner.png);
  background-size: cover;
  background-position: center;
  height: 850px;  
  display: flex;  
  align-items: center;
  justify-content: center;
  text-align: center;
}

section#banner h1 {
  font-size: 72px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#about{
  background-color: #eae9d9;
}



.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.menu-item {
  width: 300px;
  margin: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  
}

.menu-item img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.menu-item h3 {
  font-size: 24px;
  color: #333;
}

.menu-item p {
  font-size: 16px;
  color: #666;
}

section#contact {
  background-color: #eae9d9;
}

.contact-form {
  max-width: 500px;
  margin: auto;
  padding: 25px;
  background-color: #fff;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.contact-form button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #d8d6b8;
  padding: 20px;
  color: #333;
  text-align: center;
}

footer p {
  font-size: 14px;
}

footer p:last-child {
  margin-top: 10px;
}
